

@model List<User>

 <table class="table table-hover">
    <thead>
        <tr>
            <th>User Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Created Date</th>
            <th>User Level</th>
            
           
        </tr>
    </thead>
      <tbody>
           @foreach(User user in Model)
        {  
            <tr>
                <td>@user.user_id</td>
                <td><a asp-controller="Home" asp-action="GuestUserInfo" asp-route-id="@user.user_id">@user.first_name @user.last_name</a></td>
                <td>@user.email</td>
                <td>@user.created_at</td>
                <td>@user.user_level</td>
                
                    
            </tr>
        }
        
         
    </tbody>

    

</table>