@model IndexView



<h1>Welcome to the wedding planner</h1>
<p><a href="api_map">Aussie Map</a></p>
<h1>Signed in User id : @Model.Current_User.user_id</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Weddding Id</th>
            <th>Wedding</th>
            <th>Date</th>
            <th>Guest Count</th>
            
            <th>wedding.user_id </th>
            <th>action</th>
        </tr>
    </thead>
      <tbody>
        @foreach(var wedding in Model.Weddings)
        {  
               
       
            <tr>
                <td>@wedding.wedding_id</td>
                <td><a href="wedding/@wedding.wedding_id" >@wedding.wedder_one and @wedding.wedder_two</a></td>
                <td>@wedding.date_of_wedding.ToString("D")</td>
                <td>@wedding.wedding_rsvps.Count</td>
                <td>@wedding.user_id</td>
                
                
                    @if(wedding.wedding_rsvps.Where(rsvp => rsvp.user_id == Model.Current_User.user_id).SingleOrDefault() == null)
                        {
                            <td><a href="/rsvp/@wedding.wedding_id">RSVP</a></td>
                        }
                   
                    else
                        {
                            <td><a href="/un_rsvp/@wedding.wedding_id">Un-RSVP</a></td>
                        }
            </tr>
        }
         
    </tbody>

    <h3><a href="create_wedding">New Wedding</a></h3>
    <h3><a href="logout">Log out</a></h3>

</table>